@page
@model mission09_bzp123.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you for your purchase! Your order is on the way!!</h2>
    <a class="btn btn primary" asp-controller="Home">Return Home</a>
</div>

